certifi==2023.5.7
charset-normalizer==3.1.0
colorama==0.4.6
detect-secrets==1.4.0
idna==3.4
pydantic==1.10.7
PyYAML==6.0
requests==2.30.0
steampunk-spotter==1.2.7
typing_extensions==4.5.0
urllib3==2.0.2
